.table tr td img {
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
}

td i {
  cursor: pointer;
  color: rgb(214, 30, 30);
  font-size: 1.5rem;
}

td,
th {
  color: var(--primary-color);
}
