.common__section {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/images/pngtree-home-appliance-three-dimensional-cool-light-effect-black-e-commerce-banner-image_804321.jpg")
      no-repeat center center;
  background-size: cover;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.common__section h1 {
  color: #fff;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .common__section {
    padding: 70px 0px;
  }
  .common__section h1 {
    font-size: 1.4rem;
  }
}
