.hero__section {
  background: var(--hero-bg);
}

.hero__section img {
  transform: rotate(-32deg);
}

.hero__content h2 {
  color: var(--primary-color);
  font-size: 2.6rem;
  font-weight: 600;
  margin: 20px 0px;
}

.hero__content p {
  color: var(--primary-color);
  line-height: 28px;
  font-size: 1.3rem;
}

.hero__section p:nth-child(1) {
  font-weight: 500;
}

.buy__btn {
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 40px;
}

.buy__btn a:hover {
  color: #fff;
}

.hero__content {
  padding-top: 65px;
}

.best__classic {
  /* background: var(--primary-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

.best__classic img {
  transform: rotate(-30deg);
}

.title {
  color: var(--primary-color);
  font-size: 3.2rem;
  font-weight: 700;
}

@media only screen and (max-width: 992px) {
  .hero__content h2 {
    font-size: 2rem;
  }

  .section__title {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero__content h2 {
    font-size: 1.6rem;
  }
  .hero__content p {
    font-size: 0.9rem;
  }

  .buy__btn {
    font-size: 0.9rem;
  }

  .section__title {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 576px) {
  .hero__content {
    padding-top: 0;
    margin-bottom: 40px;
  }

  .classic__content .title {
    font-size: 2.3rem;
  }

  .classic__content p {
    font-size: 0.9rem;
    margin-top: 20px;
  }
}
