.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.logo img {
  width: 1.5rem;
  height: 1.5rem;
}
.logo h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
  margin: 0;
}
.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  margin-bottom: 0;
}

.nav__item a {
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}

.nav__icons {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}

.nav__icons span i {
  font-size: 1.4rem;
  color: var(--primary-color);
  cursor: pointer;
}

.cart__icon,
.fav__icon {
  position: relative;
}

.badge {
  position: absolute;
  top: 25%;
  right: -8%;
  width: 15px;
  height: 15px;
  content: "";
  background: var(--primary-color);
  color: #fff !important;
  border-radius: 50px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem !important;
  font-weight: 600 !important;
  z-index: 1;
}

.nav__icons span img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 15px;
}

.mobile__menu {
  font-size: 1.3rem;
  color: var(--primary-color);
  display: none;
}

.nav__active {
  font-weight: 700 !important;
}

.sticky__header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px #ddd;
  background: #fff;
}

/* .logout__btn {
  border: none;
  outline: none;
  height: 40px;
  width: 65px;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
} */

@media only screen and (max-width: 768px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .active__menu {
    display: block;
  }

  .mobile__menu {
    display: block;
  }

  .mobile__menu span i {
    font-size: 1.1rem !important;
  }

  .logo img {
    height: 1rem;
    width: 1rem;
  }

  .logo h1 {
    font-size: 1rem;
  }

  .fav__icon i,
  .cart__icon i {
    font-size: 1.2rem !important;
  }

  .header {
    width: 100%;
    height: 60px;
    line-height: 60px;
  }
}
