.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: var(--primary-color);
}

.footer__text {
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.list-group-item {
  background: transparent !important;
}

.list-group-item a {
  color: rgba(255, 255, 255, 0.7) !important;
}

.quick__links-title {
  margin-bottom: 30px;
  color: #fff;
  font-size: 1.1rem;
}

.footer__contact i,
.footer__contact p {
  color: rgba(255, 255, 255, 0.7) !important;
}

.footer__contact span {
  font-size: 1.2rem !important;
  margin-bottom: 16px;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 0.9rem;
  margin-top: 50px;
  text-align: center;
}
